
#red{
border-radius: 200px 0px 0px 0px;
}
#yellow{
border-radius: 0px 0px 0px 200px;
}
#green{border-radius: 0px 200px 0px 0px;}
#blue{
border-radius: 0px 0px 200px 0px;

}


.red {
    background-color: red;
}


.green {
    background-color: green;
}



.yellow {
    background-color: yellow;
}


.blue {
    background-color: blue;
}

.active{
    /* opacity: 0.5; */
    background-color: black;
}

#red,
#yellow,
#green,
#blue,
#button {
    height: 250px;
    width: 47%;
    border-radius: 1 1 1 1;
    display: inline-block;
}

button{
    text-transform: uppercase;
    text-align: center;
}