body {
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

div {
    color: transparent;
}

#red {
    border-radius: 200px 0px 0px 0px;
}

#yellow {
    border-radius: 0px 0px 0px 200px;
}

#green {
    border-radius: 0px 200px 0px 0px;
}

#blue {
    border-radius: 0px 0px 200px 0px;

}


.red {
    background-color: red;
    opacity: 0.5;
}


.green {
    background-color: green;
    opacity: 0.5;
}



.yellow {
    background-color: yellow;
    opacity: 0.5;
}


.blue {
    background-color: blue;
    opacity: 0.5;
}

.active {
    opacity: 1;
}

#red,
#yellow,
#green,
#blue,
#button {
    height: 250px;
    width: 47%;
    border-radius: 1 1 1 1;
    display: inline-block;
}

button {
    text-transform: uppercase;
    text-align: center;
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 14px 2px;
    cursor: pointer;
}